p {
    margin: 0;
    font-size: 12px;
}
h4 {
    margin: 0;
}
.span9, .span12 {
    margin-left: 0;
}
.span6 {
    padding: 0 0 0 10px;
    margin-left: 0;
    width: 606px;
    border:0px solid #000;
    border-top: none;
    border-bottom: none;
    background-color: #ee0;
    height: 40px;
}
.arrTitle {
    width: inherit;
}
.wrapper {
    width: 620px;
    background-color: #000;
    height: auto;
    overflow: hidden;
    margin: 20px auto;
    border: 2px solid #000;
    border-radius: 12px;
}
#title {
    width: 355px;
    float:left;
    padding: 0px 10px;
    vertical-align: middle;
    font-size: 54px;
    background-color: rgb(8, 76, 141);
    color: #fff;
    margin:0;
    height: 100px;
    padding-top: 50px;
}
.row-fluid .span6 {
    width: 100%;
    padding-left: 12px;
}
#container {
    height: inherit;
    clear: both;
}
.span12 h3 {
    background-color: #000;
    padding-left: 12px;
    color: #fff;
    margin: 0;
    width: 100%;
    height:36px;
    border-top: 4px solid rgb(209, 68, 20);
}
#map-canvas2 {
    height: 150px;
    width: 245px;
    overflow:hidden;
    margin: 0;
}
.tmGr {
    color: rgb(107, 180, 69)
}
.tmOr {
    color: rgb(209, 68, 20);
}
ul.arrivals {
    list-style-type: none;
    margin: 0 0;
    padding: 0;
    float: left;
    width: 100%;
}

#arrTitle {
    width: 104px;
    float: left;
}
#timeUpdated {
    width: 300px;
    float: left;
    font-size: 10px;
    height: 30px;
    border-top: 4px solid rgb(209, 68, 20);
    line-height: 30px;
    padding-left: 10px;
    font-weight: bold;
    clear: right;
}
